html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

body {
  overflow-x: hidden;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.plp-blue { color: #006bbd; }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    margin: 0 auto;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box; /* include padding in element dimensions */
  }
  
  /* Navbar */
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: #006bbd;
  }
  
  .logo {
    order: 1;
    align-items: center;
    margin-top: .2rem;
  }
  
  .logo img {
    height: 3.75rem;
    width: 3rem;
    border-radius: 5px;
  }
  
  .buttons {
    order: 2;
    display: flex;
    align-items: center;
  }
  
  .buttons {
    list-style: none;
    counter-reset: my-counter;
    display: flex;
    font-family: var(--sec-font);
    margin-right: 1.875rem;
  }
  
  .buttons li {
    margin-right: 1rem;
  }
  
  .buttons a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    transition: 0.5s;
    border-color: white;
  }
  
  .buttons a:hover {
    color: #a8e2ff;
    transition: 0.5s;
    font-weight: 600;
    border-bottom: 3px solid #fff
  }
  
  /* Hero Area */
  
  .hero {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 62.5rem;
    margin: auto;
  }
  
  .header-txt {
    margin-top: 10rem;
    text-align: center;
  }
  
  .header-txt h1 {
    font-size: 4rem;
    margin-top: .7rem;
    margin-bottom: .5rem;
  }
  
  .header-txt h2 {
    font-size: 2.5rem;
    margin-top: .5rem;
  }
  
  .hero-img {
    align-self: center;
  }
  
  .hero-img img {
    border-radius: 7px;
  }
  
  .learn-with-us {
    height: 7rem;
    width: 20rem;
    background-color: white;
    border-radius: 7px;
    position: relative;
    left: 38rem;
    bottom: 7rem;
  }
  
  .learn-with-us p {
    position: relative;
    font-weight: 640;
    left: .9rem;
  }
  
  .learn-with-us a {
    position: relative;
    text-decoration: none;
    color: #a81f33;
    padding: .4rem;
    border: .15rem solid #a81f33;
    border-radius: .4rem;
    font-weight: 500;
    left: 9em;
    top: .5rem;
    transition: 0.3s;
  }
  
  .learn-with-us a:hover {
    transition: 0.3s;
    background-color: #a81f33;
    color: #fff;
  }
  
  .sm-info h3 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 650;
    font-style: italic;
  }

/* Boxes for the sections */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  
  border-radius: 10px;
  
  width: 17rem;
  height: 19rem;
  margin: 1rem;
  perspective: 2000px;

}
.inner {
  
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

.card:hover .inner{
  transform: rotateY(180deg);
  transition: transform 0.8s;
}
.inner > *{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
    position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  
}
.card-back{
    background-color: #006bbd;
  color: white;
  transform: rotateY(180deg);
}
.card-front{
  background-color: white;
}

.card-front-icon {
  margin-top: 1rem;
}

.card-front-text h2 {
  margin: 0;
}